* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.App {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8D8741;
  width: 100%;
  height: 9vh;
  padding: 0 10px;
}

.burger-menu {
  margin-right: 10px;
  font-size: 20px;
}

.header-title {
  text-align: center;
  flex: 1;
  justify-content: center;
  white-space: nowrap; /* Added to prevent text wrapping */
  overflow: hidden; /* Added to hide overflowing text */
  text-overflow: ellipsis; /* Added to show ellipsis (...) for overflow */
}

.icon-plus-container {
  display: flex;
  align-items: center;
}

.icon-plus-container:hover {
  cursor: pointer;
}

.chat-message-center {
  justify-content: flex-start;
}

.message {
  justify-content: flex-start;
}

.avatar {
  margin-right: 10px;
}

.chatbox-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 9vh);
  width: 100%;
  padding: 10px;
  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
  /* overflow-y: auto; */
  box-sizing: border-box;
  flex-grow: 1; /* Added flex-grow to allow the chatbox-main to grow within its container */
}

.burger-menu {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.burger-menu:hover {
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: transform 0.5s ease-out;
  transform: translateX(-100%);
}

.popup-content {
  padding: 20px;
  color: white;
  margin-top: 30px;
  text-align: center;
}

.popup-content h2 {
  border-bottom: 1px solid white;
  padding: 20px;
}

.App.active .popup {
  transform: translateX(0);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.input-place-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.input-place {
  background-color: lightgray;
  width: 100%;
  min-height: 40px;
  max-height: 120px;
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  padding: 12px;
  padding-right: 40px;
  overflow-y: auto;
}

.icon-send-container {
  position: absolute;
  bottom: 7px;
  right: 30px;
  transform: translateY(-50%);
  background: none;
}

.icon-send-container:hover {
  cursor: pointer;
}

.sidemenu {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidemenu-header-button {
  padding: 15px;
  border-bottom: 1px solid white;
  
  text-align: center;
}

.sidemenu-header-button:hover {
  cursor: pointer;
}

.sidemenu-header-button span {
  padding-left: 1px;
  padding-right: 6px;
}

.chatbox {
  width: 100%;
  height: 100%;
  background-color: #FBEEC1;
  position: relative;
}

.input-place-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Added to horizontally center the container */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  box-sizing: border-box;
}

.plus-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 200px;
  border-radius: 8px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.plus-popup-content {
  text-align: center;
  border-radius: 0;
}

.plus-popup-input {
  width: 200px;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
}

.plus-popup-button {
  padding: 5px 20px; /* Adjust the padding as desired */
  height: 30px; /* Set the height to match the plus-popup-input */
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.plus-popup-close-button {
  position: absolute; /* Positioned relative to the plus-popup-content */
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.favorite-places {
  margin-top: 20px;
}

.favorite-place {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.city-name {
  font-weight: bold;
}

.temperature {
  color: gray;
}


.chat-message {
  background-color: blue;
  color: white; /* Added to ensure text is visible against the background */
}

.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.chat-message-center {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.message {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-message-bot {
  background-color: red;
}

.chat-log {
  max-height: calc(100vh - 200px); /* Adjust the value as needed to leave space for other elements */
  overflow-y: auto;
}

.chat-message.user-message {
  background-color: #EEE3CB;
  border-bottom: 1px solid #000; /* Add a thin solid border to the bottom */
}

.chat-message.bot-message {
  background-color: #967E76;
  border-bottom: 1px solid #000; /* Add a thin solid border to the bottom */
}


.avatar.user-message {
  background-color: green;
}

.avatar.bot-message {

}

.icon-send-container button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}


@media (min-width: 820px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }
  
  .burger-menu {
    display: none;
  }
  
  .header-title {
    flex: none; /* Added to prevent flex shrinking */
    width: 70%; /* Adjusted width as desired */
    margin: 0 auto; /* Centered horizontally */
  }
  
  
  .chat-message.user-message {
    background-color: #EEE3CB;
    border-bottom: 1px solid #000; /* Add a thin solid border to the bottom */
  }
  
  .chat-message.bot-message {
    background-color: #967E76;
    border-bottom: 1px solid #000; /* Add a thin solid border to the bottom */
  }
  

  .avatar.user-message {
    background-color: green;
  }

  .avatar.bot-message {

  }
  
  .icon-plus-container {
    display: flex;
    align-items: center;
  }
  
  .chatbox-main {
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-columns: 240px 1fr; /* Adjusted to include the sidemenu */
    margin-top: 20px;
  }

  
  .sidemenu {
    display: block;
    width: 100%; /* Adjusted to fill the column */
    text-align: center;
    height: 100%; /* Adjusted to fill the height */
    background-color: #9BABB8;
  }
  
  .chatbox {
    width: 100%;
    height: 100%;
    background-color: #EEE3CB;
    position: relative;
  }
  
  .input-place-main {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    position: relative;
  }
  
  .input-place {
    background-color: lightgray;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    padding: 12px;
    padding-right: 25px;
  }
  
  .input-place:hover {
    color: black; /* Add a color that is visible on the light gray background */
  }

  .icon-plus-container {
    display: none;
  }

  .icon-send-container {
    position: absolute;
    bottom: 7px;
    right: 22px;
    transform: translateY(-50%);
    background: none;
  }

  .icon-send-container button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
  

    /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .sidemenu-content h2{
    margin-top: 10px;
  }

  .favorite-places1 {
    margin-top: 20px;
  }
  
  .favorite-place1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .city-name1 {
    font-weight: bold;
  }
  
  .temperature1 {
    color: black;
  }

  .chatbox {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #CBFFA9;
  }
  
  .chat-log {
    max-height: calc(100vh - 200px); /* Adjust the value as needed to leave space for other elements */
    overflow-y: auto;
  }
  
  
  .chat-log-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .input-place-container {
    flex-shrink: 0;
    padding: 10px;
    background-color: #CBFFA9;
  }
  
  
  .chat-message {
    background-color: #659DBD;
    color: black;
  }
  
  .avatar {
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .chat-message-center {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .message {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .chat-message-bot {
    background-color: red;
  }
}
